<?xml version="1.0"?>
<!--
/**
 * Danjulf_Respizr (Responsive Image Resizer)
 *
 * Copyright (C) 2014 Daniel Bergstrom (danjulf@gmail.com)
 *
 * This file is part of Danjulf_Respizr.
 *
 * Danjulf_Respizr is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Danjulf_Respizr is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Danjulf_Respizr. If not, see <http://www.gnu.org/licenses/>.
 *
 * @category  Danjulf
 * @package   Danjulf_Respizr
 * @author    Daniel Bergstrom <danjulf@gmail.com>
 * @copyright 2014 Daniel Bergstrom (danjulf@gmail.com)
 * @license   http://www.gnu.org/licenses/lgpl.html GNU LGPL
 */
-->
<config>

    <modules>
        <Danjulf_Respizr>
            <version>0.0.5</version>
        </Danjulf_Respizr>
    </modules>

    <global>
        <blocks>
            <respizr>
                <class>Danjulf_Respizr_Block</class>
            </respizr>
        </blocks>
        <helpers>
            <respizr>
                <class>Danjulf_Respizr_Helper</class>
            </respizr>
        </helpers>
        <models>
            <respizr>
                <class>Danjulf_Respizr_Model</class>
            </respizr>
        </models>
    </global>

    <frontend>
        <layout>
            <updates>
                <respizr>
                    <file>respizr.xml</file>
                </respizr>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <respizr before="Mage_Adminhtml">Danjulf_Respizr_Adminhtml</respizr>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <respizr>
                    <file>respizr.xml</file>
                </respizr>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <respizr>
            <general>
                <retina>1</retina>
                <breakpoints><![CDATA[1200, 960]]></breakpoints>
                <layout_offsets></layout_offsets>
            </general>
            <varien_image>
                <quality><![CDATA[75]]></quality>
                <background_color><![CDATA[255, 255, 255]]></background_color>
                <keep_aspect_ratio>0</keep_aspect_ratio>
                <keep_frame>0</keep_frame>
                <keep_transparency>1</keep_transparency>
                <constrain_only>1</constrain_only>
            </varien_image>
        </respizr>
    </default>

</config>